[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/sherbondy/bootstrap.git
[submodule "resources/pagedown"]
	path = resources/pagedown
	url = https://github.com/sherbondy/pagedown.git
