[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/sherbondy/bootstrap.git
[submodule "resources/OMS-Leaflet"]
	path = resources/OMS-Leaflet
	url = https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet.git
[submodule "datomic-free"]
	path = datomic-free
	url = https://github.com/sherbondy/datomic-free
