[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/sherbondy/bootstrap.git
[submodule "resources/masonry"]
	path = resources/masonry
	url = https://github.com/desandro/masonry.git
[submodule "resources/OMS-Leaflet"]
	path = resources/OMS-Leaflet
	url = https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet.git
