body {
  background: url('/img/bg.jpg') repeat fixed;
}

@green: #819d22;
@darkgreen: darken(@green, 10%);

#nav {
  background: fade(@green, 85%);
  border-top: 2px solid darkgreen;
  padding-top: 16px;
  font: 20px "Josefin Slab", 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;

  .nav > li {
    margin-right: 16px;
    &.pull-right {
      margin-right: 0px;
    }
  }

  .nav > li > a {
    color: #fff;
    padding: 12px 16px;
    .caret {
      border-top-color: #fff;
      border-bottom-color: #fff;
    }

    &:hover, &.active, &:focus {
      background: #fff;
      color: @green;
      .caret {
        border-top-color: @green;
        border-bottom-color: @green;
      }
    }
  }

  .dropdown.open > a {
    background: darkgreen;
  }

  .dropdown-menu a {
    padding: 6px 20px;

    &:hover {
      background: darkgreen;
    }
  }
}

#content {
  background: fade(#fff, 95%);
  padding: 32px;
}

.thumbnail {
  background: #fff;
}

#job-toggle {
  display: block;
  margin-top: 12px;
  margin-bottom: -44px;
}

#job-preview {
  margin-bottom: 16px;

  .job-info {
    padding: 8px 16px;

    .description {
      margin-bottom: 8px;
    }

    .icon {
      float: left;
      margin: 4px 4px 0 0;
    }
  }
}

#map {
  height: 400px;
}