body {
  background: url('/img/bg.jpg') repeat fixed;
}

@green: darken(#8cf430, 20%);
@darkgreen: darken(@green, 15%);

#nav-logo {
  float: left;
  width: 96px;
  height: 96px;
  position: absolute;
  margin-left: -48px;
  margin-top: -12px;
  opacity: 0.9;

  &:hover {
    opacity: 1.0;
  }
  &:active {
    margin-top: -11px;
  }
}

h1.slug {
  text-align: center;
  font-size: 96px;
  line-height: 1;
  text-shadow: 0px 1px 0px #fff;

  strong {
    color: @green;
  }
}

#nav {
  background: fade(@green, 85%);
  border-top: 2px solid @darkgreen;
  padding-top: 16px;
  font: 20px "Josefin Slab", 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;

  .nav {
    margin-left: 64px;
  }

  .nav > li {
    margin-right: 16px;
    &.pull-right {
      margin-right: 0px;
    }
  }

  .nav > li > a {
    color: #fff;
    padding: 12px 16px;
    position: relative;
    top: 0px;
    .caret {
      border-top-color: #fff;
      border-bottom-color: #fff;
    }

    &:hover, &.active, &:focus {
      background: #fff;
      color: @green;
      .caret {
        border-top-color: @green;
        border-bottom-color: @green;
      }
    }

    &:active {
      top: 1px;
    }
  }

  .dropdown.open > a {
    background: @darkgreen;
  }

  .dropdown-menu a {
    padding: 6px 20px;

    &:hover {
      background: @darkgreen;
    }
  }
}

#content {
  background: fade(#fff, 95%);
  padding: 32px;
}

.thumbnail {
  background: #fff;
}

#job-toggle {
  display: block;
  margin-top: 12px;
  margin-bottom: -44px;
}

#job-preview {
  margin-bottom: 16px;
}

.job-info {
  padding: 0px 16px;

  small {
    color: #000;
    font-size: 20px;
  }

  .description {
    margin-bottom: 12px;

    h1, h2, h3 {
      font-size: 24px;
      line-height: 32px;
      margin: 6px 0px;
    }
  }

  .icon {
    float: left;
    margin: 4px 4px 0 0;
  }

  .dateloc {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 6px;
    margin-bottom: 8px;
  }
}

.bootcamp {
  width: 240px;
  opacity: 0.8;
  position:relative;
  top: 0;
  margin-bottom: 16px;

  &:hover {
    opacity: 1.0;
  }
  &:active {
    top: 1px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 320px;
}

#map-box {
  .navbar {
    margin-top: 16px;
  }
  .search-query {
    font-size: 18px;
  }
}

#browse {
  min-height: 600px;
}

#job-list {
  overflow: hidden;
}