body {
  background: url('/img/bg.jpg') repeat fixed;
}
#nav-logo {
  float: left;
  width: 96px;
  height: 96px;
  position: absolute;
  margin-left: -48px;
  margin-top: -12px;
  opacity: 0.9;
}
#nav-logo:hover {
  opacity: 1.0;
}
#nav-logo:active {
  margin-top: -11px;
}
h1.slug {
  text-align: center;
  font-size: 96px;
  line-height: 1;
  text-shadow: 0px 1px 0px #fff;
}
h1.slug strong {
  color: #5ab40a;
}
#nav {
  background: rgba(90, 180, 10, 0.85);
  border-top: 2px solid #366c06;
  padding-top: 16px;
  font: 20px "Josefin Slab", 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}
#nav .nav {
  margin-left: 64px;
}
#nav .nav > li {
  margin-right: 16px;
}
#nav .nav > li.pull-right {
  margin-right: 0px;
}
#nav .nav > li > a {
  color: #fff;
  padding: 12px 16px;
  position: relative;
  top: 0px;
}
#nav .nav > li > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
#nav .nav > li > a:hover,
#nav .nav > li > a.active,
#nav .nav > li > a:focus {
  background: #fff;
  color: #5ab40a;
}
#nav .nav > li > a:hover .caret,
#nav .nav > li > a.active .caret,
#nav .nav > li > a:focus .caret {
  border-top-color: #5ab40a;
  border-bottom-color: #5ab40a;
}
#nav .nav > li > a:active {
  top: 1px;
}
#nav .dropdown.open > a {
  background: #366c06;
}
#nav .dropdown-menu a {
  padding: 6px 20px;
}
#nav .dropdown-menu a:hover {
  background: #366c06;
}
#content {
  background: rgba(255, 255, 255, 0.95);
  padding: 32px 32px 16px;
}
footer {
  margin-top: 32px;
  text-align: center;
  clear: both;
}
.thumbnail {
  background: #fff;
}
#job-toggle {
  display: block;
  margin-top: 12px;
  margin-bottom: -44px;
}
#job-preview {
  margin-bottom: 16px;
}
.job-info {
  padding: 0px 16px;
}
.job-info small {
  color: #000;
  font-size: 20px;
}
.job-info .description {
  margin-bottom: 12px;
}
.job-info .description h1,
.job-info .description h2,
.job-info .description h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 6px 0px;
}
.job-info .icon {
  float: left;
  margin: 4px 4px 0 0;
}
.job-info .dateloc {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
  margin-bottom: 8px;
}
.bootcamp {
  width: 240px;
  opacity: 0.8;
  position: relative;
  top: 0;
  margin-bottom: 16px;
}
.bootcamp:hover {
  opacity: 1.0;
}
.bootcamp:active {
  top: 1px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#map {
  height: 320px;
}
#map-box .navbar {
  margin-top: 16px;
}
#map-box .search-query {
  font-size: 18px;
}
#browse {
  min-height: 600px;
}
#job-list {
  overflow: hidden;
}
#left-nav {
  margin-left: 0px;
}
